<page-header></page-header>

<mat-card>
  <mat-card-content>
    <form>
      <mat-form-field class="col-4">
        <mat-label>文章ID</mat-label>
        <input matInput placeholder="請輸入" />
        <mat-error>請輸入文章ID</mat-error>
      </mat-form-field>
      <mat-form-field class="col-4">
        <mat-label>文章標題</mat-label>
        <input matInput placeholder="請輸入" />
        <mat-error>請輸入文章標題</mat-error>
      </mat-form-field>
      <mat-form-field class="col-4">
        <mat-label>文章分類</mat-label>
        <input matInput placeholder="請輸入" />
        <mat-error>請選擇文章分類</mat-error>
      </mat-form-field>
      <mat-form-field class="col-4">
        <mat-label>文章標籤</mat-label>
        <input matInput placeholder="請輸入" />
        <mat-error>請選擇文章類型</mat-error>
      </mat-form-field>
      <mat-form-field class="col-4">
        <mat-label>文章類型</mat-label>
        <input matInput placeholder="請輸入" />
        <mat-error>請選擇文章類型</mat-error>
      </mat-form-field>
      <mat-form-field class="col-4">
        <mat-label>是否發佈</mat-label>
        <input matInput placeholder="請輸入" />
        <mat-error>請選擇</mat-error>
      </mat-form-field>
      <mat-form-field class="col-4">
        <mat-label>軟刪除 </mat-label>
        <input matInput placeholder="請輸入" />
        <mat-error>請選擇</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>

<mtx-grid
  [columns]="columns"
  [data]="posts"
  [pageSize]="limit"
  [pageIndex]="offset"
  [loading]="isLoading"
  [columnSortable]="true"
  [showToolbar]="true"
  toolbarTitle="文章標籤列表"
  [cellTemplate]="{
    isDeleted: isDeletedTpl,
    categories: categoriesTpl,
    tags: tagsIpl,
    isPublished: isPublishedTpl
  }"
>
</mtx-grid>

<ng-template #isDeletedTpl let-row let-index="index" let-col="colDef">
  <mat-slide-toggle
    [checked]="row.isDeleted === 1"
    (change)="toggleChangeIsDeleted(row)"
  ></mat-slide-toggle>
</ng-template>

<ng-template #isPublishedTpl let-row let-index="index" let-col="colDef">
  <mat-slide-toggle
    [checked]="row.isPublished === 1"
    (change)="toggleChangeIsPublished(row)"
  ></mat-slide-toggle>
</ng-template>

<ng-template #categoriesTpl let-row let-index="index" let-col="colDef">
  <mat-chip-grid>
    <mat-chip-row *ngFor="let category of row.categories">{{ category.name }}</mat-chip-row>
  </mat-chip-grid>
</ng-template>

<ng-template #tagsIpl let-row let-index="index" let-col="colDef">
  <mat-chip-grid>
    <mat-chip-row *ngFor="let tag of row.tags">{{ tag.name }}</mat-chip-row>
  </mat-chip-grid>
</ng-template>
