<page-header></page-header>

<mat-card>
  <mat-card-content>
    <form>
      <mat-form-field class="col-4">
        <mat-label>文章ID</mat-label>
        <input matInput placeholder="請輸入" />
        <mat-error>請輸入文章ID</mat-error>
      </mat-form-field>
      <mat-form-field class="col-4">
        <mat-label>文章標題</mat-label>
        <input matInput placeholder="請輸入" />
        <mat-error>請輸入文章標題</mat-error>
      </mat-form-field>
      <mat-form-field class="col-4">
        <mat-label>文章分類</mat-label>
        <input matInput placeholder="請輸入" />
        <mat-error>請選擇文章分類</mat-error>
      </mat-form-field>
      <mat-form-field class="col-4">
        <mat-label>文章標籤</mat-label>
        <input matInput placeholder="請輸入" />
        <mat-error>請選擇文章類型</mat-error>
      </mat-form-field>
      <mat-form-field class="col-4">
        <mat-label>文章類型</mat-label>
        <input matInput placeholder="請輸入" />
        <mat-error>請選擇文章類型</mat-error>
      </mat-form-field>
      <mat-form-field class="col-4">
        <mat-label>是否發佈</mat-label>
        <input matInput placeholder="請輸入" />
        <mat-error>請選擇</mat-error>
      </mat-form-field>
      <mat-form-field class="col-4">
        <mat-label>軟刪除 </mat-label>
        <input matInput placeholder="請輸入" />
        <mat-error>請選擇</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>

<mtx-grid> </mtx-grid>
