.header-tool {
  display: flex;
  gap: 20px;
}

.fill-body {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
  > * {
    flex: 1 1 49%;
    overflow-x: auto;
    border: none;
    background: white;
    padding: 20px;
  }

  textarea {
    resize: vertical;
    &:active,
    &:focus,
    &:focus-visible {
      border: none;
      outline: none;
    }
  }
}
